@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url(https://allfont.net/allfont.css?fonts=roboto-light);

* {
    box-sizing: border-box;
    background-color: #2a2e3f;
}

body {
    min-width: 320px;
    margin: 0;
}

.title {
    border-bottom: 2px solid hsla(0,0%,100%,.25);

}


h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    margin: 2vh;
}

.banners {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.banners > div {
    margin: 20px 2px;
    }

.banners button {
    border: none;
    outline: none;
    padding: 0;
    opacity: .8;
    transition: 300ms;
 
    
}

.banners img {
    width: 32vw;
    height: auto;
    max-width: 200px;
    max-height: 73px;
    display: block;
       
}
.banners button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05, 1.05);
    
    }



.display {
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
   
}

.display span {
    color: white;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 5px 5px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 33px;
    font-family: 'Roboto Light', arial;
    font-weight: 700;
    font-size: 14px;
    transition: 400ms;
}

.display:hover span{
    transform: scale(1.2,1.2);
}

.clear {
   
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2vh 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    text-align: center;
}

.clear > div {
    max-width: 1000px;
    margin: 0 auto;
    background-color: transparent;
}

#clear-screen {
    margin: 0 25px;
    background-color: #00a769;
    color: white;
    padding: 5px 10px;
    font-size: 2.3vh;
    letter-spacing: 4px;
    font-family: 'Roboto Light', arial;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    transition: 700ms;
}

#clear-screen:hover {
    background-color: #eb0f42;
}

@media only screen and (max-width: 823px) and (orientation: landscape) {
    .title {
        display: none;
    }
    
    .banners > div {
        margin: 8px 2px;
    }
    
    .banners img {
        width: auto;
        height: 13vh;
    }
    
    #clear-screen {
        font-size: 4vh;
    }
    
}

@media only screen and (min-width: 540px) {
    .clear {
        text-align: right;
    }
    
}